:root {
  --color-bg: #101010;
  --color-text: #ffffff;
  --color-secondary-text: #b5b5b5;
}

nav ul,
footer ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-secondary-text);

  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  max-width: 650px;
  margin: 0 auto;
  padding: 0 1rem;
}

nav,
header,
footer {
  margin-top: 4rem;
}

header h1 {
  color: var(--color-text);
  font-size: 1.5rem;
  font-weight: 500;
}

header div {
  display: flex;
  gap: 0.75rem;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

a:visited {
  color: var(--color-text);
}

a:hover {
  text-decoration: underline;
}

.monke {
  image-rendering: pixelated;
  width: 24px;
  height: 26px;
  transform: scale(2.5);
  background-image: url("./sprite_sheet/monke_idle/monke_idle_sprite_sheet.png");
  background-position: 0 0;
}
