:root {
  --color-bg: #101010;
  --color-text: #ffffff;
  --color-secondary-text: #b5b5b5;
}

nav ul,
footer ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-secondary-text);

  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  max-width: 650px;
  margin: 0 auto;
  padding: 0 1rem;
}

h1 {
  color: var(--color-text);
  font-weight: 600;
}
